body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: repeat(12, 100px);
  grid-template-columns: repeat(12, 100px);
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: white;
  grid-row: 1 / 1;
  grid-column: 1 / 13; 
}

.nav1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav1 {
  grid-row: 1 / 1;
  grid-column: 1 / 13;
}

.nav1 li{
  display: inline-block;
  margin-left: 38px;
  margin-top: 15px;
  width: 250px;
  background-color: rgba(0, 0, 185, 0.841);
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  transition-duration: 1s;
}

.nav1 li a{
  text-decoration: none;
  color: white;
  padding: 25px;
  border: 1px solid white;
  background-color: rgba(0, 0, 185, 0.841);
  display: block;
  transition-duration: 1s;
}

.nav1 li a:hover{
  background-color: rgb(102, 13, 13);
  font-size: 20px;
  transition-duration: 1s;

}

.dummycolumn2 {
  background-color: rgba(0, 0, 255, 0.841);
  grid-row: 2 / 4;
  grid-column: 1 / 13;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

.BigTitle {
  margin-left: 50px;
  font-size: 75px;
}

.h1 {
  margin-left: 25px;
}

.footer {
  margin-left: 25px;
}

.p {
  margin-left: 25px;
  font-size: 24px;
}

.dummycolumn3 {
  background-color: white;
  grid-row: 4 / 9;
  grid-column: 1 / 7;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
}

.dummycolumn4 {
  background-color: white;
  grid-row: 4 / 9;
  grid-column: 7 / 13;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
}

.dummycolumn5 {
  background-color: rgba(0, 0, 255, 0.841);
  grid-row: 9/ 12;
  grid-column: 1 / 13;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

.p2 {
  grid-row: 9 / 12;
  grid-column: 7 / 13;
}

.dummycolumn6 {
  background-color: white;
  grid-row: 12 / 13;
  grid-column: 1 / 13;
  color: black;
  font-family: "Oswald", sans-serif;
}

.nav2 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav2 {
  grid-row: 13 / 13;
  grid-column: 1 / 13;
}

.nav2 li{
  display: inline-block;
  margin-left: 38px;
  width: 250px;
  margin-bottom: 15px;
  background-color: blue;
  color: white;
  font-family: "Oswald", sans-serif;
}

.nav2 li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid white;
  background-color: blue;
  display: block;
}

.nav2 li a:hover{
  background-color: rgb(0, 0, 97);
}

#myCarousel {
  margin-bottom: 24px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
  animation: scroll 5s linear infinite;
}

img {
width: 400px;
height: 400px
}

.youtube {
  margin-bottom: 0px;
  margin-left: 50px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid black; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.p2{
  margin-left: 50%;
}

body {
  background-image: url("backgroundIMG.jpeg");
}

.p3 {
  margin-left: 25px;
  font-size: 24px;
  width: 45%;
  display: inline-block;
}

.p4 {
  width: 45%;
  display: inline-block;
  padding-left: 35px;
}

.nav3 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav3 {
  grid-row: 13 / 13;
  grid-column: 1 / 13;
}

.nav3 li{
  display: inline-block;
  margin-left: 38px;
  width: 250px;
  margin-bottom: 15px;
  background-color: white;
  color: blue;
  font-family: "Oswald", sans-serif;
}

.nav3 li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid darkblue;
  background-color: white;
  display: block;
}

.nav3 li a:hover{
  background-color: rgb(0, 0, 97);
}

.bi bi-music-note-beamed {
  color: blue;
}